# Ignore artifacts:
build
coverage
node_modules
public
dist
.vscode
nginx/

# Ignore all files of these formats:
*.html
*.yml

# Problems with this file:
CreateItemForm.tsx

# Ignore all files with these names:
README.md
