.editor {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
  background: #fff;
  padding: 20px 30px;
  width: 60%;
  margin: 50px auto;
  max-width: 1400px;
}

body {
  background: #f5f8fa;
}

#editorjs-container {
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 20px;
  font-family: 'Roboto';
}

.ce-toolbar__content,
.ce-block__content {
  max-width: unset;
  width: 92% !important;
}

.ce-block__content > * {
  color: #000000;
}

.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
  max-width: unset;
  height: unset !important;
}

.editor button {
  border: none;
  padding: 10px 20px;
  background: #68548e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
