.codex-editor {
  width: 100%;
  margin: 0 auto;
  padding: 24px 96px;
  box-sizing: border-box;
}

.ce-block__content {
    max-width: none;
}

.ce-toolbar__content {
    max-width: calc(100% - 192px);
}

#react-editor-js {
  margin-top: 20px !important;
}