code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  overflow: auto;
  min-height: fit-content;
}

#root {
  height: 100%;
  overflow: auto;
  min-height: fit-content;
}

body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
